<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4">History of Orders</h1>

  <div class="overflow-x-auto">
    <table class="min-w-full">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Date</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Order Number</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Meals</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Total Bill</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 border-b"><%= order.created_at.strftime("%Y-%m-%d") %></td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 border-b"><%= order.id %></td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 border-b">
              <% order.order_items.each do |order_item| %>
                <%= order_item.meal.meals_name %><br>
              <% end %>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 border-b">
              <% order.order_items.each do |order_item| %>
                <%= order_item.quantity %><br>
              <% end %>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 border-b"><%= number_to_currency(order.total_bill) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
