<div class="flex flex-col md:flex-row justify-between items-center mx-auto px-4 py-8 md:py-16 md:max-w-6xl overflow-hidden">
  
  <div class="hidden md:block md:w-1/2 h-screen overflow-hidden">
    <%= image_tag("fruit.jpg", alt: "Fruits", class: "h-full w-48 mx-auto object-cover rounded") %>
  </div>

  <div class="md:w-1/2 md:pr-8 mb-8 md:mb-0">
    <%= image_tag("logo-black.png", alt: "BistroWare Logo", class: "mx-auto md:mx-0 h-16 rounded-md") %>
    <div>
      <h1 class="text-4xl md:text-6xl font-bold text-center md:text-left mb-2 text-gray-900">Welcome to BistroWare</h1>
      <p class="text-lg md:text-xl text-gray-700 leading-relaxed text-center md:text-left mb-4">Effortlessly manage your food inventory with our intuitive and easy-to-use web app. Keep track of your ingredients, plan your meals, and streamline your kitchen operations.</p>
      
      <ul class="list-disc text-gray-700 text-lg md:text-xl leading-relaxed text-center md:text-left mb-4">
        <li class="mb-2 flex items-center">
          <i class='bx bxs-food-menu mr-2'></i>
          Manage menu and orders through the app
        </li>
        <li class="mb-2 flex items-center">
          <i class='bx bxs-book-bookmark mr-2'></i>
          Select meals from a large database of recipes
        </li>
        <li class="mb-2 flex items-center">
          <i class='bx bxs-box mr-2'></i>
          Track inventory stock level of ingredients in real-time
        </li>
      </ul>
    </div>
  </div>

  <div class="md:w-1/2 bg-gray-100 p-6 rounded-lg shadow-md overflow-hidden">
    <h2 class="text-2xl font-bold mb-4 text-gray-900">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mb-4" }) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-gray-700 font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "text-sm text-gray-700" %>
        </div>
      <% end %>

      <div class="flex items-center justify-between">
        <%= f.submit "Log in", class: "rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider text-red-400 border-red-400 border-2 hover:text-white hover:bg-red-400" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>