<nav class="bg-white">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <!-- Left side: Brand and Menu items -->
      <div class="flex">
        <!-- Logo -->
        <div class="flex items-center">
          <%= image_tag("logo.png", alt: "BistroWare Logo", class: "h-8 mr-1 hover:text-gray-700") %>
          <!-- Brand -->
          <%= link_to "BistroWare", orders_new_path, class:"flex items-center text-gray-600 font-bold hover:text-gray-700" %>
        </div>
        <!-- Menu items -->
        <div class="hidden space-x-4 sm:-my-px sm:ml-10 sm:flex">
          <% if user_signed_in? %>
            <!-- Menu items for authenticated users -->
            <%= link_to "Edit Profile", edit_user_registration_path, class:"text-gray-600 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-red-400" %>
            <%= link_to "Menu", orders_new_path, class:"text-gray-600 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-red-400" %>
            <%= link_to "Meals", meals_path, class:"text-gray-600 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-red-400" %>
            <%= link_to "Inventory", stocks_path, class:"text-gray-600 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-red-400" %>
            <%= link_to "History of Orders", orders_path, class:"text-gray-600 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-red-400" %>
          <% else %>
            <!-- Menu items for guests -->
            <%= link_to "Log In", new_user_session_path, class:"text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-gray-300" %>
            <%= link_to "Sign Up", new_user_registration_path, class:"text-gray-600 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-gray-300" %>
          <% end %>
        </div>
      </div>

      <!-- Right side: Sign Out button -->
      <% if user_signed_in? %>
        <div class="flex items-center">
          <!-- Mobile menu button -->
          <div class="sm:hidden">
            <button class="ml-2 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Icon for menu button -->
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
          <!-- Sign out button -->
          <div class="hidden sm:flex">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider text-red-400 border-red-400 border-2 hover:text-white hover:bg-red-400" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>